@use 'base/variables' as v;

@mixin phone{
    @media (min-widht: v.$phone){
        @content
    }
}

@mixin tablet{
    @media (min-widht: v.$tablet){
        @content
    }
}

@mixin desktop{
    @media (min-widht: v.$desktop){
        @content
    }
}

@mixin boton ($bgColor, $colorText, $width){
    background-color: $bgColor;
    padding: 1.5rem 4rem;
    color: v.$colorText;
    font-size: 1.6rem;
    font-weight: 700;
    transition-property: background-color;
    transition-duration: .3s;
    text-align: center;
    display: block;
    width: $width;
    @include tablet{
        width: $width;
    }

    &:hover{
        background-color: darken ($color: $bgColor, $amount: 10%);
    }
}